$darkGray: #555555;
$lightGray:#9e9e9e;
$mainBlue: #4287f5;
$txtWhite: #fafcff;
$lightBlue:#61a0ff;
$darkBlue: #0048ff;
$colorReset: #ff7926;
$colorSave: #9a26ff;
$navBlue: #2663ff;
$green: #40ff00;
$red:#ff0026;
$pink: #ff5971;
